@charset "utf-8";
.menutabs_NE {
	display: block;
	clear: none;
	padding: 0px;
	float: left;
	margin-top: 33px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 720px;
}

/* CSS Document */

#navigation_NE a{
	color: #333333;
	text-decoration: none;
	font-family: 'calibri', Helvetica, sans-serif;
	font-size: 12px;
	height: 33px;
	vertical-align: middle;
	margin-right: 3px;
	margin-left: 3px;
	font-weight: bold;
}

#navigation_NE a:link, #navigation_NE a:visited, #navigation_NE a:active ,#navigation_NE a:hover  {
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/tabonlefton.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	visibility: visible;
	cursor: pointer;
	z-index: 1;
	float: left;
	vertical-align: middle;
	padding-left: 18px;

}


#navigation_NE a:link span, #navigation_NE a:visited span, #navigation_NE a:active span ,#navigation_NE a:hover span {
	font-family: 'calibri', Helvetica, sans-serif;
	font-size: 16px;
	background-image: url(../images/tabonrighton.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	padding-right: 18px;
	float: left;
	vertical-align: middle;
	padding-top: 10px;
	font-weight: bold;
}

#navigation_NE a, #navigation_NE a span
{
	display: block;
	float: left;
	height: 33px;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#navigation_NE a, #navigation_NE a span
{
	float: none;
}
/* End IE5-Mac hack */



#navigation_NE
{
	list-style: none;
	padding: 0px;
	float: none;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}

#navigation_NE li
{
	display: block;
	float: left;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}


#navigation2_NE a
{
	color: #feffff;
	text-decoration: none;
	font-family: 'calibri', Helvetica, sans-serif;
	font-size: 16px;
	vertical-align: middle;
	font-weight: bold;
	height: 33px;
	margin-right: 3px;
	margin-left: 3px;
}

#navigation2_NE a:link, #navigation2_NE a:visited, #navigation2_NE a:active{
	background-image: url(../images/tabonleftoff.png);
	background-repeat: no-repeat;
	background-position: left top;
	visibility: visible;
	cursor: pointer;
	padding-left: 18px;
	z-index: 1;
	float: left;
}
#navigation2_NE a:link span, #navigation2_NE a:visited span, #navigation2_NE a:active span{
	background-image: url(../images/tabonrightoff.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	padding-right: 18px;
	float: left;
	display: block;
	vertical-align: middle;
	padding-top: 10px;
	height: 33px;
}
#navigation2_NE a, #navigation2_NE a span
{
	display: block;
	float: left;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#navigation2_NE a, #navigation2_NE a span
{
	float: none;
}

#navigation2_NE a:hover 
{
	background-image: url(../images/tabonlefton.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	float: left;
	color: #FFFFFF;
}


#navigation2_NE a:hover span
{
	padding-right: 18px;
	background-image: url(../images/tabonrighton.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	float: left;
	padding-top: 10px;
	color: #FFFFFF;
}

#navigation2_NE
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation2_NE li
{
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	clear: none;
}

/**/

#navigation3_NE a, #navigation3on_NE a
{
	color: #feffff;
	text-decoration: none;
	font-family: 'calibri', Helvetica, sans-serif;
	font-size: 16px;
	vertical-align: middle;
	font-weight: bold;
	height: 33px;
	margin-right: 3px;
	margin-left: 3px;
}

#navigation3_NE a:link, #navigation3_NE a:visited, #navigation3_NE a:active{
	background-image: url(../images/tablefticon.png);
	background-repeat: no-repeat;
	background-position: left top;
	visibility: visible;
	cursor: pointer;
	padding-left: 33px;
	z-index: 1;
	float: right;
}
#navigation3_NE a:link span, #navigation3_NE a:visited span, #navigation3_NE a:active span{
	background-image: url(../images/tabrighticon.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 10px;
	float: left;
	display: block;
	vertical-align: middle;
	padding-top: 10px;
	height: 23px;
	padding-left: 5px;
}
#navigation3on_NE a:link span, #navigation3on_NE a:visited span, #navigation3on_NE a:active span{
	padding-right: 10px;
	float: left;
	display: block;
	vertical-align: middle;
	padding-top: 10px;
	height: 23px;
	padding-left: 5px;
}
#navigation3 a, #navigation3 a span, #navigation3on_NE a
{
	display: block;
	float: right;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#navigation3_NE a, #navigation3_NE a span, #navigation3on_NE a, #navigation3on_NE a span
{
	float: none;
}

#navigation3_NE a:hover, #navigation3on_NE a  
{
	background-image: url(../images/tablefticon.png);
	background-repeat: no-repeat;
	background-position: left -35px;
	float: left;
	color: #FFFFFF;
	padding-left: 33px;
}


#navigation3_NE a:hover span, #navigation3on_NE a span
{
	padding-right: 10px;
	background-image: url(../images/tabrighticon.png);
	background-repeat: no-repeat;
	background-position: right -35px;
	float: left;
	padding-top: 10px;
	color: #FFFFFF;
}

#navigation3_NE, #navigation3on_NE
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#navigation3_NE li ,#navigation3on_NE li
{
	display: block;
	margin: 0;
	padding: 0;
	float: right;
	clear: none;
}


.carrito_NE {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: right;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(../images/myreservationleft.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
}
.carrito_NE a{
	color: #FFFFFF !important;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;
}
.carrito_NE:hover {
	background-position: left bottom;
}

.carrito_NE  span {
	background-image: url(../images/myreservationright.png);
	background-position: right top;
	background-repeat: no-repeat;
	display: block;
	padding-right: 12px;
	padding-left: 5px;
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 5px;
}

.carrito_NE a:hover {
	color: #FFCC00!important;
	text-decoration: none;
	background-position: bottom;
}
.carrito_NE a:hover span{
	color: #FFCC00!important;
	text-decoration: none;
	background-position: right bottom;
	padding-right: 12px;
	padding-left: 5px;
}
